.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
}
.header-item{
  user-select: none;
  height: 45px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.header-item:hover{
    border: 1px solid lavender;
}
