.sendEmailsModal {
  padding: 12px;
}

.btn-add-trainer {
  padding: 2px 8px 2px 8px;
  margin-left: auto; 
  display: flex; 
  color: white; 
  align-items: center; 
  border-radius: 4px; 
  border: 1px solid lavender; 
  background-color: #2f2963;
  height:40px;
}